<html lang="en">
<head>
    <title> Add/Edit Transaction </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/addEditStyle.css">

</head>

<body>

    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <h1> #if($isEdit) Edit Transaction #else Add Transaction #end </h1>
            </div>

            <form class="form-horizontal" method="post">

                <div class="form-group">
                    <label class="control-label col-sm-2" for="category"> Category </label>
                    <div class="col-sm-10">
                        <select name="categoryId" id="category" class="form-control" autofocus>
                            #foreach( $category in $categories )
                                <option value="$category.getId()" #if($!oldCategory.getId()=="$category.getId()")  selected #end> $category.getName() </option>
                            #end
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="date"> Date </label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="date" name="date" value="$!oldTransaction.getDate()" required/>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2" for="details"> Details </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="details" name="details" value="$!oldTransaction.getDetails()"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="amount"> Amount </label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="amount" name="amount" value="$!oldTransaction.getAmount()" step=".01" min="0.01" max="9999999.99" required/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type='button' class="btn btn-default" onclick="location.href='/transactions'"> Cancel </button>
                        <button type='submit' class="btn btn-default">  #if($isEdit) Edit #else Add #end </button>
                    </div>
                </div>

                <input type='hidden' name='id' value='$!oldTransaction.getId()'/>
            </form>
        </div>
    </div>

</body>
</html>