<html lang="en">
<head>
    <title> Categories </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <div class="container-fluid content">
        <div class="row">

            #include("menu.vm")

            <div class="col-sm-9">

                <h2> Categories </h2>
                <br/>
                <a href="/category/add" class="btn btn-default" role="button"> Add Category </a>
                <br/>
                <br/>


                <form method="get">
                    Show:
                    <select name='categoriesFilter' onchange='this.form.submit()'>
                        <option value='ALL'  #if($currentFilter == "null") selected #end > All </option>
                        <option value='EXPENSE' #if($currentFilter == "EXPENSE") selected #end> Expense </option>
                        <option value='INCOME' #if($currentFilter == "INCOME") selected #end> Income </option>
                    </select>
                    &nbsp;

                    Sort by:
                    <select name='categoriesOrder' onchange='this.form.submit()'>
                        #foreach( $order in $orderOption)
                            <option value='$order' #if($currentOrder == "$order") selected #end> $order.getLabel() </option>
                        #end
                    </select>

                </form>

                <table class="table table-bordered table-hover">
                    <tr>
                        <th> Id </th>
                        <th> Name </th>
                        <th> Type </th>
                        <th>  </th>
                        <th> <a href="/category/deleteAll" class="btn btn-default" role="button" onclick="return confirm
                                 ('Are you sure you want to delete all categories? It will delete all transactions and expense targets.')">
                                 Delete All </a> </th>
                    </tr>
                    #foreach( $category in $categories)
                        <tr>
                            <td> $category.getId() </td>
                            <td> $category.getName() </td>
                            <td> $category.getType().getLabel() </td>
                            <td> <a href="/category/edit?id=$category.getId()" class="btn btn-default" role="button"> Edit </a> </td>
                            <td> <a href="/category/delete?id=$category.getId()" class="btn btn-default" role="button" onclick="return confirm
                            ('Are you sure you want to delete category with id $category.getId() ? It will delete transactions and expense targets that have this category.')">
                            Delete </a> </td>
                        </tr>
                    #end
                </table>
            </div>
        </div>
    </div>

</body>
</html>