<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <div class="col-sm-3 menu">
        <img class="img-responsive" src="logo.png" alt="Logo"/>
        <br/>

        <a href="/transactions" class="btn btn-default btn-block" role="button" > Transactions </a>
        <br/>

        <a href="/categories" class="btn btn-default btn-block" role="button" > Categories </a>
        <br/>

        <a href="/expenseTargets" class="btn btn-default btn-block" role="button" > ExpenseTargets </a>
        <br/>

        <a href="/reports" class="btn btn-default btn-block" role="button" > Reports </a>
        <br/>
    </div>

</body>
</html>