<html lang="en">
<head>
    <title> Reports Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">

    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {
          callback: function(){
            drawCharts();
            window.addEventListener("resize", drawCharts);
          },
          packages:['corechart']
        });

        function drawCharts() {
            drawChart1();
            drawChart2();
            drawChart3();
        }

        function drawChart1(){
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('number', 'Sum');
            data.addRows([
                #foreach( $entry in $sumPerCategoryExpenses.entrySet() )
                    ['$entry.key', $entry.value],
                #end
            ]);

            var options = {
                title:'All Expenses',
                backgroundColor: { fill: 'white', fillOpacity: 0.5},
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
            chart.draw(data, options);
        }

        function drawChart2(){
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Priority');
            data.addColumn('number', 'Count');
            data.addRows([
                #foreach( $entry in $sumPerCategoryIncomes.entrySet() )
                    ['$entry.key', $entry.value],
                #end
            ]);

            var options = {
                title:'All Incomes',
                backgroundColor: { fill: 'white', fillOpacity: 0.5},
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart.draw(data, options);
        }

        function drawChart3(){
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Type');
            data.addColumn('number', 'Sum');
            data.addRows([
                #foreach( $entry in $sumForTypes.entrySet() )
                    ['$entry.key', $entry.value],
                #end
            ]);

            var options = {
                title:'Expenses Vs Incomes',
                backgroundColor: { fill: 'white', fillOpacity: 0.5},
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div3'));
            chart.draw(data, options);
        }
    </script>

</head>

<body>

    <div class="container-fluid content">
        <div class="row">

            #include("menu.vm")

            <div class="col-sm-9">
                <h2> Reports </h2>
                </br>

                <form method="get">

                    <input type="date" name="startDate" value="$!oldStartDate" autofocus required/>
                    -
                    <input type="date" name="endDate" value="$!oldEndDate" required/>
                    &nbsp;

                    <button type='submit' class="btn btn-default"> Apply </button>
                </form>
                </br>

                Total Expenses: $sumExpenses
                <br/>
                Total Incomes: $sumIncomes
                <br/>
                Total Balance: $balance
                <br/>

                <div id="container" style="margin-top: 15px;">
                    <div id="chart_div1" style="width: 48%; height: 300px; float: left;"></div>
                    <div id="chart_div2" style="margin-left: 50%; height: 300px;"></div>
                    <br/>
                    <div id="chart_div3" style="width: 50%; height: 300px; margin-left: auto; margin-right: auto;"></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>