body {
    background-color: rgba(220, 238, 254, 0.7);
    font-size: 18px;
}

.btn-default {
    background-color: #EFDAF5;
    border: 1px solid #808080;
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
}

.btn-default:hover {
  background: #FE83FF;
  color: blue;
}

h1, p {
    text-align: center;
}
