
.row {
    height: 1500px;
}

.menu {
  background-color: rgba(153, 231, 255, 0.6);
  height: 100%;
}


@media screen and (max-width: 767px) {
  .menu {
    height: auto;
  }
  .row {
  height: auto;
  }
}

body {
    background-color: rgba(220, 238, 254, 0.4);
    font-size: 20px;
}

.btn-default {
    background-color: #EFDAF5;
    border: 1px solid #808080;
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
}

.btn-default:hover {
  background: #FE83FF;
  color: blue;
}


table, td, th {
  border: 1px solid #ddd;
  text-align: left;
  font-size: 20px;
}